<header>
	<div class="header_container">
		<div class="header_content">
			<nav class="main_menu">
				<div class="main_menu-btn">
					<i class="fa-solid fa-bars"></i>
					<span>MENU</span>
				</div>
				<ul class="main_menu-list">
					<li class="main_menu-item">
						<a href="{{ path('app_home') }}" class=" link main_menu-link">Accueil</a>
					</li>
					<li class="main_menu-item">
						<a href="{{ path('page_chiropraxie') }}" class="main_menu-link link">La chiropraxie</a>
					</li>
					<li class="main_menu-item">
						<a href="{{ path('page_chiropracteur') }}" class="main_menu-link link">Votre chiropracteur</a>
					</li>
					<li class="main_menu-item">
						<a href="{{ path('page_soins') }}" class="main_menu-link link">Les soins</a>
					</li>
				</ul>
			</nav>
			<div class="header_content-btnRdv">
				<a href="{{ path('appointments_index')}}" class="link btn">PRENDRE RDV</a>
			</div>
		</div>
		<div class="header_logo">
			<div class="header_logo-img"></div>
			<h1 class="header_logo-text">
				<span class="name">Charlotte Vandermersch</span>
				<img src="assets/images/separator.png" alt="" class="separator">
				<span class="profession">CHIROPRATEUR</span>
			</h1>
		</div>
	</div>
</header>
<div class="gradient-color-bar"></div>
{% if(user)%}
	{% include('/profile/_menu.html.twig')%}
{% endif %}
