<div class="profile_menu">
	<div class="profile_menu_salutation">
		{% if app.user %}
			Bonjour,
			{{ user.firstname }}&nbsp;{{ user.lastname}}
		{% endif %}
	</div>
	<nav>
		<div class="profile_menu_title">
			{% if app.user %}
				<i class="fa-solid fa-user-gear"></i>
				Mon compte
			{% else %}
				<a href="{{ path('app_login') }}">
					<i class="fa-solid fa-user"></i>&nbsp;&nbsp;Espace patient</a>
			{% endif %}
		</div>
		<ul class="profile_menu_content">
			{% if app.user %}
				<li class="profile_menu_item">
					<a href="{{ path('profile_index') }}">Accueil profil</a>
				</li>
				<li class="profile_menu_item">
					<a href="{{ path('profile_show') }}">Voir mon profil</a>
				</li>
				<li class="profile_menu_item">
					<a href="{{ path('app_logout') }}">Me déconnecter</a>
				</li>

			{% endif %}
		</ul>
	</nav>
</div>
<div class="gradient-color-bar"></div>
