{% extends 'base.html.twig' %}

{% block javascripts %}
	<script src="/assets/js/profile.js" defer></script>
{% endblock %}

{% block title %}Espace patient
{% endblock %}

{% block body %}
	<div class="container">
		<div class="content">
			<h1>Espace patient</h1>
			<div class="profile_list_appointments">
				<h3>Votre prochain rendez-vous</h3>
				<ul>
					{% for appointment in nextAppointments %}
						<li>
							<div class="profile_list_appointment_care">
								{% for care in cares %}
									{% if care.id == appointment.care.id %}
										<span class="color_care" style="color:{{ care.color }}">
											<i class="fa-solid fa-circle"></i>
										</span>
										{% if care.id == 2 or care.id == 5 %}
											{% for child in childs %}
												<span>{{ care.name }}</span>
												<span class="appointment-child next">pour
													<strong>
														{% if child.id == appointment.childId %}
															{{ child.firstname }}
														{% endif %}
													</strong>
												</span>
											{% endfor %}
										{% else %}
											<span>{{ care.name }}</span>
										{% endif %}

									{% endif %}
								{% endfor %}
							</div>
							<div class="profile_list_appointment_date">
								<span>{{ appointment.date|dayName }}</span>
								<span>{{ appointment.date|date('d') }}</span>
								<span>{{ appointment.date|monthName }}</span>
								<span>{{ appointment.date|date('Y') }}</span>
								à
								<span>{{ appointment.time|date('H') }}</span>h<span>{{ appointment.time|date('i') }}</span>
							</div>
							<a href="{{ path('appointments_delete',{id: appointment.id} )}}" class="btn btn_cancel_appointment">Annuler le RDV</a>
						</li>
					{% endfor %}
				</ul>
				<h3>Historique de vos rendez-vous</h3>
				<ul>
					{% for appointment in oldsAppointments %}
						<li class="olds-appointments_item">
							{% for care in cares %}
								{% if care.id == appointment.care.id %}
									<span class="color_care" style="color:{{ care.color }}">
										<i class="fa-solid fa-circle"></i>
									</span>
									{% if care.id == 2 or care.id == 5 %}
										{% for child in childs %}
											<span>{{ care.name }}</span>
											<span class="appointment-child">pour
												<strong>
													{% if child.id == appointment.childId %}
														{{ child.firstname }}
													{% endif %}
												</strong>
											</span>
										{% endfor %}
									{% else %}
										<span>{{ care.name }}</span>
									{% endif %}
								{% endif %}
							{% endfor %}
							<strong>
								<span>-
									{{ appointment.date|dayName }}</span>
								<span>{{ appointment.date|date('d') }}</span>
								<span>{{ appointment.date|monthName }}</span>
								<span>{{ appointment.date|date('Y') }}</span>
								à
								<span>{{ appointment.time|date('H') }}</span>h<span>{{ appointment.time|date('i') }}</span>
							</strong>
						</li>
					{% endfor %}
				</ul>
				{# <a href="">Voir plus</a> #}
			</div>
		</div>
	</div>
{% endblock %}
