{% extends 'base.html.twig' %}
{% block javascripts %}
	<script src="/assets/js/appointment.js" defer></script>
{% endblock %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container login_container">
		<div class="content login_content">
			<h3 class="login_title">Identifiez-vous</h3>
			<div class="login_message">Votre réservation n'est pas encore validée</div>
			<div class="tabs">
				<div class="tabs_item">J'ai déjà un compte</div>
				<div class="tabs_item">
					<a href="{{ path('app_register')}}">Je crée mon compte</a>
				</div>

			</div>

			<form method="post" class="login_form">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté(e) comme
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Me déconnecter</a>
					</div>
				{% endif %}

				<div>Accédez à votre espace pour pouvoir gérer vos rendez-vous</div>
				<label for="inputEmail">Email
					<span class="danger">*</span>
				</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Mot de passe
					<span class="danger">*</span>
				</label>

				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				<a href="{{path('forgotten_password')}}" class="login_form-link">Mot de passe oublié</a>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="btn btn-login" type="submit">
					Se connecter et finaliser votre rendez-vous
				</button>
			</form>
			<div class="reservation">
				<h3>Votre réservation</h3>
				<div class="reservation_date">
					<span class="appointment_date"></span>
					à
					<span class="appointment_time"></span>
				</div>
				<div class="reservation_infos">
					<div class="reservation_infos_care"></div>
					<div class="reservation_infos_duration"></div>
					<div class="reservation_infos_price">
						<span>
							<strong class="appointment_price"></strong>
							<i class="fa-solid fa-euro"></i>
							- Chèque et espèces
						</span>
						<span>à régler chez le praticien lors du rdv</span>
					</div>
				</div>
			</div>

		</div>
	</div>
	<table class="cares hidden">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>duration</th>
				<th>price</th>
			</tr>
		</thead>
		<tbody>
			{% for care in cares %}
				<tr>
					<td>{{ care.id }}</td>
					<td>{{ care.name }}</td>
					<td>{{ care.duration|format_datetime('none','short', locale='fr') }}</td>
					<td>{{ care.price }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
