{% extends 'admin/base.html.twig' %}

{% block title %}Jours ouvres
{% endblock %}

{% block body %}
	<div class="container">
		{% include('admin/_partials/_menu.html.twig') %}
		<div class="content">
			<h1>Liste des jours ouvrés</h1>
			<div class="btn_index_admin">
				<a href="{{ path('daysOn_new') }}" class="btn">Ajouter un jour ouvré</a>
			</div>
			<table class="table table_admin">
				<thead class="thead_admin">
					<tr>
						<th>Date</th>
						<th>Début de matinée</th>
						<th>Fin de matinée</th>
						<th>Début d'après-midi</th>
						<th>Fin d'après-midi</th>
						<th>Créé le</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody class="tbody_admin">
					{% for days_on in pagination %}
						<tr>
							<td>{{ days_on.date ? days_on.date|date('Y-m-d') : '' }}</td>
							<td>{{ (days_on.startMorning|date('H:i') != '00:00') ? days_on.startMorning|date('H:i:s') : '' }}</td>
							<td>{{ (days_on.endMorning|date('H:i') != '00:00') ? days_on.endMorning|date('H:i:s') : '' }}</td>
							<td>{{ (days_on.startAfternoon|date('H:i') != '00:00') ? days_on.startAfternoon|date('H:i:s') : '' }}</td>
							<td>{{ (days_on.endAfternoon|date('H:i') != '00:00') ? days_on.endAfternoon|date('H:i:s') : '' }}</td>
							<td>{{ days_on.createdAt ? days_on.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<div
									class="btn_action">
									{# <a href="{{ path('daysOn_show', {'id': days_on.id}) }}">show</a> #}
									<a href="{{ path('daysOn_edit', {'id': days_on.id}) }}">
										<i class="fa-regular fa-pen-to-square"></i>
									</a>
									{{ include('admin/days_on/_delete_form.html.twig') }}
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">Pas d'enregistrement trouvé</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="pagination">
				{{knp_pagination_render(pagination)}}
			</div>

		</div>
	</div>

{% endblock %}
