{% extends '/admin/base.html.twig' %}

{% block title %}Index des patients
{% endblock %}

{% block body %}
	<div class="container">
		{% include('admin/_partials/_menu.html.twig') %}
		<div class="content">
			<h1>Index des Patients</h1>
			<div class="btn_index_admin">
				<a href="{{ path('users_new') }}" class="btn">Nouveau patient</a>
			</div>
			<table class="table_admin">
				<thead class="thead_admin">
					<tr>
						<th>Id</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>E-mail</th>
						<th>Mobile</th>
						<th>Téléphone</th>
						<th>Bloqué</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody class="tbody_admin">
					{% for user in pagination %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.firstname }}</td>
							<td>{{ user.lastname }}</td>
							<td>{{ user.email }}</td>
							<td class="cellPhone">{{ user.cellPhone|phone }}</td>
							<td class="homePhone">{{ user.homePhone|phone }}</td>
							<td>{{ user.isBlocked ? 'Oui' : 'Non' }}</td>
							<td>
								<div class="btn_action">
									<a href="{{ path('users_show', {'id': user.id}) }}">
										<i class="fa-regular fa-eye"></i>
									</a>
									<a href="{{ path('users_edit', {'id': user.id}) }}">
										<i class="fa-regular fa-pen-to-square"></i>
									</a>
									{{ include('admin/users/_delete_form.html.twig') }}
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="20">Pas d'enregistrement trouvé</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="pagination">
				{{knp_pagination_render(pagination)}}
			</div>
		</div>
	</div>


{% endblock %}
