{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/pages/appointment.css">
{% endblock %}

{% block javascripts %}
	<script src="/assets/js/appointment.js" defer></script>
{% endblock %}
{% block title %}Rendez-vous
{% endblock %}

{% block body %}
	<div class="container container_appointment">
		<div class="content content_appointment">
			<div class="appointment_message">Votre réservation n'est pas encore validée</div>
			<div class="appointment_child">
				<h3>La séance est pour</h3>
				{% if(childs) %}
					<select name="childs" id="childs">
						{% for child in childs %}
							<option value="{{ child.id }}">{{ child.firstname }}</option>
						{% endfor %}
						<option value="autre">Ajouter un enfant</option>
					</select>
					<a href="{{ path('appointments_new')}}" class="btn link">Valider</a>
				{% else %}
					{% include('childs/_form.html.twig') %}
				{% endif %}
			</div>
			<div class="reservation">
				<h3>Votre réservation</h3>
				<div class="reservation_date">
					<span class="appointment_date"></span>
					à
					<span class="appointment_time"></span>
				</div>
				<div class="reservation_infos">
					<div class="reservation_infos_care"></div>
					<div class="reservation_infos_duration"></div>
					<div class="reservation_infos_price">
						<span>
							<strong class="appointment_price"></strong>
							<i class="fa-solid fa-euro"></i>
							- Chèque et espèces
						</span>
						<span>à régler chez le praticien lors du rdv</span>
					</div>
				</div>
			</div>
			{# {{ include('appointments/_form.html.twig') }} #}
			<a href="{{ path('appointments_index') }}" class="link link_appointment">Retour au choix de la séance</a>
		</div>
	</div>
	<table class="cares hidden">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>duration</th>
				<th>price</th>
			</tr>
		</thead>
		<tbody>
			{% for care in cares %}
				<tr>
					<td>{{ care.id }}</td>
					<td>{{ care.name }}</td>
					<td>{{ care.duration|format_datetime('none','short', locale='fr') }}</td>
					<td>{{ care.price }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
