{% extends 'base.html.twig' %}

{% block title %}Appointments
{% endblock %}

{% block body %}
	<h1>Appointments</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ appointment.id }}</td>
			</tr>
			<tr>
				<th>Time</th>
				<td>{{ appointment.time ? appointment.time|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('appointments_index') }}">back to list</a>

	{# <a href="{{ path('appointments_edit', {'id': appointment.id}) }}">edit</a> #}

	{# {{ include('appointments/_delete_form.html.twig') }} #}
{% endblock %}
