{% extends 'base.html.twig' %}

{% block title %}Rendez-vous
{% endblock %}

{% block body %}
	<div class="container container_slots">
		<div class="content content_appointment">
			<h3>Prendre rendez-vous en ligne</h3>
			<div class="slots_content">
				<div class="slots_title">Sélectionner votre créneau</div>
				<div class="slots_cares">
					<select name="cares" id="cares">
						{% for care in cares %}
							{% if care.id == id %}
								<option value="{{ care.id }}" checked>{{ care.name }}</option>
							{% else %}
								<option value="{{ care.id }}">{{ care.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="slots_dates">
					{% set day = "now"|date() %}
					{# J'affiche les 6 prochains jours ouvrés (donc sans le dimanche) #}
					{% for i in 1..7 %}
						{# "N" donne le numéro du jour dans la semaine avec lundi = 0 #}
						{# Si "N" égale 7 c'est que l'on est un dimanche, donc on passe au jour suivant #}
							{% if day|date("N") == 7 %}
						{% set day = day|date_modify("+1 day") %}
						{% endif %}
						{% set numDay = day|date("N") %}
						{% set nameDay = days[numDay-1] %}
						{# "m" donne le numéro du mois avec janvier = 0 #}
						{% set numMonth = day|date("m")%}
						{% set nameMonth = months[numMonth-1] %}
							<div class="slots_date"> <span>{{ nameDay }}
								{{ day|date("j") }}
								{{ nameMonth }}
								{{ day|date("Y")}}</span>
							<span>
								<i class="fa-solid fa-chevron-right"></i>
							</span>
						</div>
						<div class="slots_times">
							{% for i in 1..6 %}
								{% set rdv_exist = false %}
								{% for rdv in appointments %}
									{% if time|date("H:i") == rdv.time|date("H:i") %}
										<div class="slots_time rdv">{{ rdv.time|date("H:i") }}</div>
										{% set rdv_exit = true %}
									{% endif %}
								{% endfor %}
								{% if rdv_exist == false %}
									{# Affiche H:heure et i:minute #}
									<div class="slots_time">
										{{ time|date("H:i") }}</div>
								{% endif %}
								{% set time = time|date_modify("+30 minute") %}
							{% endfor %}
						</div>
						{% set day = day|date_modify("+1 day") %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
