{% extends 'base.html.twig' %}
{% block javascripts %}
	<script src="/assets/js/appointment.js" defer></script>
{% endblock %}

{% block title %}Rendez-vous
{% endblock %}

{% block body %}
	<div class="container container_appointment container_slots">
		<div class="content content_appointment">
			<h3>Prendre rendez-vous en ligne</h3>
			<div class="slots_content">
				<div class="slots_title">Sélectionner votre créneau</div>
				<div class="slots_cares">
					<select name="cares" id="cares">
						{% for care in cares %}
							<option value="{{ care.id }}">{{ care.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="slots_dates">
					{% for day in slots %}
						{% set date = day['date'] %}
						{% set nameDay = day['day'] %}
						{% set numMonth = date|date("m")%}
						{% set nameMonth = months[numMonth-1] %}
						<div class="slots_date">
							<div class="slots_date-day">
								<span>{{ nameDay }}
									{{ date|date("j") }}
									{{ nameMonth }}
									{{ date|date("Y")}}</span>
								<span>
									<i class="fa-solid fa-chevron-right day-chevron"></i>
								</span>
							</div>
							<div class="slots_times">
								{% for slot in day['slots'] %}
									<a href="" class="slots_time" data-nameday="{{ nameDay }}" data-date="{{ date }}" data-time="{{ slot|date("H:i") }}">
										{{ slot|date("H:i") }}</a>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


{% endblock %}
