<div class="cares_form">
{{ form_start(Caresform) }}
<div class="careform_name">
 {{ form_row(Caresform.name) }}
 </div>
 <div class="careform_price"></div>
 {{ form_row(Caresform.price) }}
    <div class="careform_duration">
 {{ form_row(Caresform.duration) }}
 </div>
 <div class="careform_color"></div>
 {{ form_row(Caresform.color) }}
    <div class="btn_form">
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button></div>
{{ form_end(Caresform) }}
</div>