{% extends '/admin/base.html.twig' %}

{% block title %}Cares index{% endblock %}

{% block body %}

    <div class="container ">
  {% include('admin/_partials/_menu.html.twig') %}
    <div class="cares_container">
    <h1>Cares index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Duration</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for care in cares %}
            <tr>
                <td>{{ care.id }}</td>
                <td>{{ care.name }}</td>
                <td>{{ care.price }}</td>
                <td>{{ care.duration ? care.duration|date('H:i:s') : '' }}</td>
                <td>{{ care.color }}</td>
                <td>
                    <a href="{{ path('cares_show', {'id': care.id}) }}">show</a>
                    <a href="{{ path('cares_edit', {'id': care.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cares_new') }}">Create new</a>
    </div>
{% endblock %}
