{% extends '/admin/base.html.twig' %}

{% block title %}Seances{% endblock %}

{% block body %}
    <div class="container">
    {% include('admin/_partials/_menu.html.twig') %}
    <div class="cares_container">
    <h1>Séance</h1>

    <table class="table_cares_show"  >
        <tbody>
        
            <tr align="left">
                <th>Nom:</th>
                <td>{{ care.name }}</td>
            </tr>
            <tr align="left">
                <th>Prix:</th>
                <td>{{ care.price }}</td>
            </tr>
            <tr align="left">
                <th>Durée:</th>
                <td>{{ care.duration|date('i:s')}}</td>
            </tr>
            <tr align="left">
                <th>Couleur:</th>
               <td><span class="color_care" style="color:{{ care.color }}">
											<i class="fa-solid fa-circle"></i>
										</span></td>
            </tr>
        </tbody>
    </table>

   
    <div class="btn_delete_cares_show">
    {{ include('admin/cares/_delete_form.html.twig') }} </div>
    <div class="a_back_cares">
    <a href="{{ path('cares_index') }}">Retour</a></div>
    </div>
    </div>
{% endblock %}
