<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="shortcut icon" href="/assets/images/chiro.ico" type="image/x-icon">
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
		<link href="/assets/fontawesome/css/brands.css" rel="stylesheet">
		<link href="/assets/fontawesome/css/solid.css" rel="stylesheet">
		{% if app.user %}
			<link rel="stylesheet" href="/assets/css/pages/profile.css">
		{% endif %}
		{% block stylesheets %}
			{# {{ encore_entry_link_tags('app') }} #}
		{% endblock %}
		<script src="/assets/js/script.js" defer></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly" defer></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		{% block javascripts %}
			{# {{ encore_entry_script_tags('app') }} #}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{{ include('/_partials/_header.html.twig') }}
			{{ include('/_partials/_menu-users.html.twig') }}
		{% endblock %}
		{% if app.user and app.user.isVerified == false %}
			<div class="warning" role="alert">
				<div class="flash-message">
					<div class="alert-message">
						<p>
							<strong>Votre compte n'est pas activé</strong>,<a href="{{ path('resend_verif', {route: app.request.get('_route')}) }}" class="link">
								renvoyer le lien d'activation
							</a>
						</p>
					</div>
					<button class="alertClose" aria-label="close">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
			</div>
		{% endif %}
		{% include '/_partials/_flash.html.twig' %}
		{% block body %}{% endblock %}
		{% block footer %}
			{{ include('/_partials/_footer.html.twig') }}
		{% endblock %}
	</body>
</html>
