<div class="appointment_form">

	{{ form_start(appointmentForm
	) }}
	{{ form_widget(appointmentForm
	.date) }}
	{{ form_widget(appointmentForm
	.care) }}
	{{ form_widget(appointmentForm
	.user_id) }}
	{{ form_widget(appointmentForm
	.child_id) }}
	<button class="btn btn_appointment">Valider</button>
	{{ form_end(appointmentForm
	) }}

</div>
