<div class="appointment_form">

	{{ form_start(form) }}
	{{ form_widget(form.date) }}
	{{ form_widget(form.care) }}
	{{ form_widget(form.user_id) }}
	{{ form_widget(form.child_id) }}
	<button class="btn btn_appointment">Valider</button>
	{{ form_end(form) }}

</div>
